<div class="products-container container">
    <div class="products-card p-5">
        <h5 class="fw-bold">{{title}}</h5>
        <img src={{thumbnail}} alt={{description}} width="150">
        <h6>Description:</h6>
        <p>{{description}}</p>
        <p>Price: {{price}}</p>
        <p>Code: {{code}}</p>
        <p>Stock: {{stock}}</p>
    </div>
</div>