<div class="products-container container">
    <div class="products-card p-5">
        <h4 class="fw-bold text-center">Información del producto</h4>
        <h5 class="fw-bold">{{title}}</h5>
        <img src={{thumbnail}} alt={{description}} width="250">
        <h6>Description:</h6>
        <p>{{description}}</p>
        <p>Price: {{price}}</p>
        <p>Code: {{code}}</p>
        <p>Stock: {{stock}}</p>
        <a class="btn btn-success mb-2" id="buy">Buy Product</a>
    </div>
</div>